html {
  scroll-behavior: smooth;
}

body {
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(47, 27, 75);
  /*purple8*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* gif in sidebar */
.sidebarvid {
  width: 90%;
  height: 80px;
}

.sidebarcont {
  color: rgb(170, 162, 162);
  padding-left: 7%;
  padding-right: 7%;
  font: 400 2vw Arial;
  font-size: calc(8px + .5vw);
  text-align: center;
}

.smicons {
  width: auto;
  height: auto;
  display: block;
  
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
}

.btn {
  width: 100%;
  background-color: rgb(71, 27, 128);
  border: none;
  margin: 2px;
}

.btn:hover {
  background-color: rgb(135, 0, 177);
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
  height: 100%;

}

/*content*/

.divcontent {
  color: white;
  background-color: rgba(73, 79, 114, 0.774);
  position: relative;
  width: 75%;
  border-radius: 8px;
  margin-left: 21%;
  padding: 15px;
}

.content {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}


/* icons in sidebar */
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 0%;
  margin: 0%
}


/*  icons in div
    icons smaller
    icon as button to webpage
    icons center
*/